.scald-menu .add-buttons .add-embedly {
  background: url('icons/embedly-inverted.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-embedly:hover {
  background: url('icons/embedly-color.png') 50% 50% no-repeat;
}
.dnd-library-wrapper .editor-item .meta.type-embedly {
 background-image: url('icons/embedly-color.png');
}
