# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/*/modules
sites/*/importer
sites/all/libraries
sites/*
includes/database/autoslave

#ignore eclipse settings
.settings/*
.project
.buildpath
robots.txt

.idea
nbproject


