.dnd-library-wrapper .editor-item .meta.type-links_list {
	background-image: url('../icons/links_list.png');
}

.scald-menu .add-buttons .add-links_list {
	background: url('../icons/links_list-large-inverted.png') 50% 50%
		no-repeat;
}

.scald-menu .add-buttons .add-links_list:hover {
	background-image: url('../icons/links_list-large-color.png');
}

.dpiatom_reference_drop_zone {
	border: 1px dashed gray;
	padding: 10px;
}
