.scald-menu .add-buttons .add-picktochart {
  background: url('icons/picktochart-large-inverted.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-picktochart:hover {
  background-image: url('icons/picktochart-large-color.png');
}
.dnd-library-wrapper .editor-item .meta.type-picktochart {
 background-image: url('icons/picktochart-large-inverted.png');
}
