@CHARSET "UTF-8";


select option[value="0"]{
    background: white;
}

select option[value="1"]{
    background: green;
}

select option[value="2"]{
    background: red;
}

.vertical-tabs .form-type-textfield input {
width: auto;
}

.colorselect {
  float:left;
  margin-right:5px;
}
.colorselect_zone {
  width:2em;
  height: 2em;
  color:#000;
  border:1px solid gray;
  float:left;
  padding:2px;
}