/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-mars-2015, 11:34:50
    Author     : lba
*/

.inline-dpistate{
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}