/**
 * @file
 * Css avalaible for dpistate element
 * 
 * @author  Barthélemi Laurent <lba@audaxis.com>
 * @package DPI
 * @version  1.0
 */

.inline-dpistate{
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}