/* CSS Document */

.dpidashboardStatus0 {
	background-image:url(../icons/dpidashboard-status0.png);
	width:32px;
	height:32px;
}

.dpidashboardStatus1 {
	background-image:url(../icons/dpidashboard-status1.png);
	width:32px;
	height:32px;
}

.dpidashboardStatus2 {
	background-image:url(../icons/dpidashboard-status2.png);
	width:32px;
	height:32px;
}

.dpidashboardStatus3 {
	background-image:url(../icons/dpidashboard-status3.png);
	width:32px;
	height:32px;
}